body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.scene{
    margin: 80px auto;
    width: 210px;
    aspect-ratio: 4 / 5; /* define a proporção entre largura e altura de um elemento em unidades*/
    position: relative;
    perspective: 1000px;
    /* cria um efeito de profundidade 3D*/
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* "Quando este elemento for transformado, preserve a profundidade 3D dos seus filhos." */
    animation: rotate 30s infinite linear;
  }

.carousel>img {
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    border-radius: 10px;
    aspect-ratio: 4 / 5;
    /* transformação composta 3D que faz duas coisas, em ordem: */
    transform: rotateY(var(--i)) translateZ(288px);
    /* primeiro: Roda o elemento em torno do eixo Y (vertical), com o ângulo vindo de uma variável CSS --i;
       segundo: Depois da rotação, empurra o elemento 288px "pra frente" ou "pra fora da tela" no eixo Z, criando profundidade. */
}

@keyframes rotate {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}